{{block head}}
<style type="text/css">

</style>
{{end}}

{{extend 'layout.html'}}

{{block header}}
<!--<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">ISN</h1>
    <img src="{{=URL('static', 'images/xxx.jpg') }}">
  </div>
</div>-->

<div id="header">
<div id="head">
  <div id="head-right"></div>
  <div id="head-left"></div>
  <div id="head-clouds"></div>
  <div id="head-flag"></div>

  <div id="header-cats-box">
    <div id="head-cats"></div>
      <h1 class="nav-title">Informatics Social Network</h1>
  <h2 class="nav-title2">ISN</h2>
  </div>

</div><!--/head-->
</div> <!--/header-->

{{end}}

<div class="content-main">

<div class="row" style="margin-top:0px;">
  <div class="col-md-12" style="margin-top:0px;">
    <div class="content-padding">

{{if auth.user:}}

<div class="main-submit">
<form action="#" enctype="multipart/form-data" method="post">
<textarea name="textual" class="form-control post-item" rows="1" placeholder="What have you done?..."></textarea>

<div class="form-hidde" style="background:none;">
<hr>

<!--data-multiple-caption="{count} files selected" multiple-->
<input type="file" name="files" id="file" onchange="FilesCall();" class="inputfile inputfile-1" />
<label for="file"><svg class="svg-icon" viewBox="0 0 20 20">
              <path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path></svg><span>Add File&hellip;</span></label>

 <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> -->



<input type="file" name="imgs" id="image" onchange="ImageCall();" class="inputfile inputfile-1" />
<label for="image"><svg class="svg-icon" viewBox="0 0 20 20">
              <path d="M10,6.536c-2.263,0-4.099,1.836-4.099,4.098S7.737,14.732,10,14.732s4.099-1.836,4.099-4.098S12.263,6.536,10,6.536M10,13.871c-1.784,0-3.235-1.453-3.235-3.237S8.216,7.399,10,7.399c1.784,0,3.235,1.452,3.235,3.235S11.784,13.871,10,13.871M17.118,5.672l-3.237,0.014L12.52,3.697c-0.082-0.105-0.209-0.168-0.343-0.168H7.824c-0.134,0-0.261,0.062-0.343,0.168L6.12,5.686H2.882c-0.951,0-1.726,0.748-1.726,1.699v7.362c0,0.951,0.774,1.725,1.726,1.725h14.236c0.951,0,1.726-0.773,1.726-1.725V7.195C18.844,6.244,18.069,5.672,17.118,5.672 M17.98,14.746c0,0.477-0.386,0.861-0.862,0.861H2.882c-0.477,0-0.863-0.385-0.863-0.861V7.384c0-0.477,0.386-0.85,0.863-0.85l3.451,0.014c0.134,0,0.261-0.062,0.343-0.168l1.361-1.989h3.926l1.361,1.989c0.082,0.105,0.209,0.168,0.343,0.168l3.451-0.014c0.477,0,0.862,0.184,0.862,0.661V14.746z"></path>
            </svg><span>Add Image&hellip;</span></label>

<!--<input type="text" name="url" id="url" class="inputfile inputfile-1" value="TESTE" style="width:200px;opacity:1;height:100%;position:relative;z-index:10;" />
<label for="furl"><svg class="svg-icon" viewBox="0 0 20 20" style="width:20px;">
              <path d="M14.68,12.621c-0.9,0-1.702,0.43-2.216,1.09l-4.549-2.637c0.284-0.691,0.284-1.457,0-2.146l4.549-2.638c0.514,0.661,1.315,1.09,2.216,1.09c1.549,0,2.809-1.26,2.809-2.808c0-1.548-1.26-2.809-2.809-2.809c-1.548,0-2.808,1.26-2.808,2.809c0,0.38,0.076,0.741,0.214,1.073l-4.55,2.638c-0.515-0.661-1.316-1.09-2.217-1.09c-1.548,0-2.808,1.26-2.808,2.809s1.26,2.808,2.808,2.808c0.9,0,1.702-0.43,2.217-1.09l4.55,2.637c-0.138,0.332-0.214,0.693-0.214,1.074c0,1.549,1.26,2.809,2.808,2.809c1.549,0,2.809-1.26,2.809-2.809S16.229,12.621,14.68,12.621M14.68,2.512c1.136,0,2.06,0.923,2.06,2.06S15.815,6.63,14.68,6.63s-2.059-0.923-2.059-2.059S13.544,2.512,14.68,2.512M5.319,12.061c-1.136,0-2.06-0.924-2.06-2.06s0.923-2.059,2.06-2.059c1.135,0,2.06,0.923,2.06,2.059S6.454,12.061,5.319,12.061M14.68,17.488c-1.136,0-2.059-0.922-2.059-2.059s0.923-2.061,2.059-2.061s2.06,0.924,2.06,2.061S15.815,17.488,14.68,17.488"></path>
            </svg> <span>Add URL&hellip;</span></label>-->

<div style="float:right;">
  <span style="color:#ffffff;font-weight:bold;">Visibility:</span> 
<select class="form-control" id="group" name="privacy">
<option value="all">All</option>
<option value="registered">Registered</option>
<option value="friends">Friends</option>
<option value="me">Only me</option>
</select>
</div>

<br>

<div id="output" style="color:#ffffff;"></div>

<table class="no-border" style="margin-bottom:10px;">
<tr>

<td class="tags-form">
<span style="color:#ffffff;font-weight:bold;">Tags:</span> <div class="input-group">
<ul class="w2p_list" id="posts_tags_grow_input" style="list-style:none"><li><input class="form-control string" id="posts_tags" name="tags" type="text" value="" /></li></ul><span class="help-block"></span>


<!--
  <input type="text" class="form-control" name="tags">
  <div class="input-group-append"><i class="fa fa-plus-circle"></i></div>
<div class="input-group-append"><i class="fa fa-minus-circle"></i></div>-->
</div>
</td>
<td class="url-form">
<span style="color:#ffffff;font-weight:bold;">URL's:</span> 
<ul class="w2p_list" id="posts_link_grow_input" style="list-style:none"><li><input class="form-control string" id="posts_link" name="link" type="text" value="" /></li></ul><span class="help-block"></span>
<!--<input type="text" class="form-control" name="link">-->
</td>
</tr>
</table>

<input class="form-control post-submit btn btn-primary" type="submit" value="Submit" />
</div>
<input type="hidden" name="post_form" value="post" />
</form>




{{=form}}
</div> <!--main-submit-->



<br>
<br>

<p>2 Teste paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira</p>
    <h2>Welcome to ISN!</h2>
    <p class="lead">INFORMATICS SOCIAL NETWORK</p>

    <div class="jumbotron jumbotron-fluid" style="padding:30px;word-wrap:break-word;">
      <div class="container center">
        <a class="btn btn-secondary" href="{{=URL('grammar','create')}}">Grammar</a>
        <a class="btn btn-secondary" href="{{=URL('cv','view')}}">CV</a>
        <a class="btn btn-secondary" href="{{=URL('cv','academic')}}">CV Academic</a>
        <a class="btn btn-secondary" href="{{=URL('cv','edit')}}">CV EDIT</a>
        <a class="btn btn-secondary" href="{{=URL('cv','edit')}}">CV EDIT</a>
        <a class="btn btn-secondary" href="{{=URL('default','api_get_user_email')}}">{{=T('API Example')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','grid/auth_user')}}">{{=T('Grid Example')}}</a>
        <a class="btn btn-secondary" href="{{=URL('default','wiki')}}">{{=T('Wiki Example')}}</a>
      </div>
    </div>
      

Teste paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira paulo jorge Pereira

<br>
Teste
<br>
Teste
<br>

Teste
<br>
Teste
<br>
Teste
<br>
Teste
<br>
Teste
<br>
Teste
<br>
Teste
<br>





{{include "right.html"}}
{{include "left.html"}}

{{else:}}

nõa login
{{pass}}

</div><!--padding-->

</div>
</div>




















<script type="text/javascript">
function FilesCall() {
var file = $('#file').val();
$('#output').append("File added: "+file.split("\\").reverse()[0]);
}

function ImageCall() {
var file = $('#image').val();
$('#output').append("Image added: "+file.split("\\").reverse()[0]);
}

function ajaxFilesCall() {

var file = $('#file');
//.val()
alert(55);
//$('#fileUp').val(file);

var newFile = file.clone();
newFile.appendTo( "#files" );

newFile.attr("name", "fileUp");
newFile.attr("id", "fileUp");

uploader;

 ajax('{{=URL('default','files')}}', '#files', 'output');
//ajax('{{=URL('posts', 'addFile')}}', ['image'], ':eval');
}

function ajaxFilesProcess(status) {
$('#output').html(status);

}
</script>




<script>
$('.form-hidde').children().hide();

$( ".post-item" ).focus(function() {
  $('.form-hidde').children().show('slow'); 
});

</script>




</div><!--content-main-->

