{{block head}}
<style type="text/css">
h1 {display:block;}
.btn {margin-bottom:10px;}
</style>
{{end}}

{{extend 'sublayout.html'}}

<div class="content-with-side-bar">

<h1>Admin Area</h1>

<a href="/isn/appadmin" class="btn btn-secondary" target="_blank">Admin users (CRUD)</a>

<br><br>
<b>JSON API (GET):</b>
<div>
{{get_tables = ["posts", "tags", "personal", "auth_user", "projects", "networks", "editorial_boards", "scientific_committee", "other_info", "thesis", "organization_of_events", "scientific_meetings", "publications"]}}
{{for table in get_tables:}}
<a href="{{=URL('api','tables', args=[table])}}" class="btn btn-secondary" target="_blank">JSON API ({{=table}})</a>
{{pass}}
</div>

<div style="background:beige;padding:20px;">
<b>API (GET) exposes the tables:</b><br> 
"posts", "tags", "personal", "auth_user", "projects", "networks", "editorial_boards", "scientific_committee", "other_info", "thesis", "organization_of_events", "scientific_meetings", "publications"
<br><br>
<b>Format:</b><br>
All data fro mtables: /api/tables/TABLE_NAME<br>
A scpeciffic ID: /api/tables/TABLE_NAME/ID

<br><br>
<b>THE API has a POST method for the table "other_info" (exemplificative):</b>
<br>
<i>/api/tables/other_info</i>
<br>
It needs to receive these mandatory post variables:<br>
- user_id="int" (id of the user it will be connected to)<br>
- info_entry="xxx" (main text)<br>
- date_end="YYYY-MM-DD" (f.e. 2020-01-25)
<br>It will return with ok if success, but with "error" if it fails.
</div>

</div><!-- /content-with-side-bar -->