{{block head}}
<script src="{{=URL('static','js/d3.v3.min.js')}}"></script>

<style type="text/css">
.buttons * {
margin-top:10px;
}
</style>
{{end}}
{{extend 'layout.html'}}

<h2 style="margin-top:60px;">Grammar</h2>

<div style="float:left;position:relative;width:40%;">
<form action="{{=URL('grammar','save')}}" method="post">
<div class="buttons"><button class="btn btn-secondary">Load from file</button> &nbsp;&nbsp; <input class="btn btn-secondary" type="submit" value="Save in database" /> &nbsp;&nbsp; <a href="{{=URL('static','docs/isn.g4')}}" target="_blank" class="btn btn-secondary">View Grammar</a></div>
<p style="color:gray;font-size:12px;margin-top:5px;">Keystrokes update the tree in real time. When done, save in database, to update your profile.</p>

<textarea name="data" style="width:500px;min-height:500px;" onkeyup="ajaxCall()">[personal:
{studies_category: "Mestrado"},
{professional_category: "Investigador"},
{cvitae: "EC1F-67C9-15E7"},
{phone: "910567270"},
{cvitae: "200-300-EE"},
{education: "MEI"|"MIEI"}
],
[projects:
{title: "Projeto de teste"},
{date_start: 2019-12-01},
{tipo: "Coordenador"},
{project: "Projeto sobre testes"},
{date_end: 2020-12-30}
],
[publications:
{cite: "Martins, P. (2020) Teste title, p.200."},
{date_pub:2020-03-15},
{pub_type:"Livro"},
{peerreview:"Yes"},
{int_nac:"Internacional"},
{in_press:"No"}
]</textarea>
<!--<input type="submit" value="Parse" />-->
</form>



</div>



<div id="graphWrapper" style="position:relative;float:right;width:59%;background:beige;min-height:300px;">
<div id="target" style="padding:10px 15px;border:1px solid gray;width:100%;background:pink;height:150px;position:absolute;top:0;right:0;"><b>Log...</b>
{{if session.flash == "Succefully inserted in the DB!":}}<span style="color:green;">Succefully inserted in the DB!</span>{{pass}}
</div>

<div id="graph" style="width:100%;margin-top:170px;min-height:300px;border:1px solid gray;padding:10px;">

</div>

</div>


<script>

	function draw_graph() {

		var text = $("textarea").val();

		$.ajax({
			type: "POST",
			url: "/grammar/parse",
			data: {data: text},
			success: function(root) {

				$('svg').remove();

				var tree = d3.layout.tree()
					.size([360, (window.innerHeight/2) - 80])
					.separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

				var diagonal = d3.svg.diagonal.radial()
					.projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

				var svg = d3.select("body").append("svg")
					.attr("width", window.innerWidth*.735)
					.attr("height", window.innerHeight)
				  .append("g")
					.attr("transform", "translate(" + (window.innerWidth*.735) / 2 + "," + window.innerHeight / 2 + ")");

				var nodes = tree.nodes(root),
					links = tree.links(nodes);

				var link = svg.selectAll(".link")
					.data(links)
					.enter().append("path")
					.attr("class", "link")
					.attr("d", diagonal);

				var node = svg.selectAll(".node")
					.data(nodes)
					.enter().append("g")
					.attr("class", "node")
					.attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })

				node.append("circle")
					.attr("r", 4.5);

				node.append("text")
					.attr("dy", ".31em")
					.attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
					.attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
					.text(function(d) { return d.value || d.name; });

			}
		});

	}

	function redraw(e) {
		clearTimeout(redraw.timeout);
		redraw.timeout = setTimeout(draw_graph, 200);
	}

	$("textarea").keyup(redraw);
	$(window).resize(redraw);

	draw_graph();

</script>



<script>
function ajaxCall() {
ajax('{{=URL('grammar', 'parse')}}', ['data'], ':eval');

json = $('#target').text();
//d3.json('{{=URL('grammar', 'parse')}}', draw_graph);
d3.json(json).then(function(data) {
  console.log(data[0]);
});
}

function ajaxProcess(json) {
$('#target').html(json);

//draw_graph(json);

d3.json(json).then(function(data) {
  console.log(data[0]);
});
}










function draw_graph(json) {
	data = $('#target').text();
	root = $('#graph');


}

$("textarea").keyup(redraw);
$(window).resize(redraw);

draw_graph();

</script>