<div id="left">

{{if auth.user:}}
{{#profile = db(db.personal.userId==auth.user.id).select().first()}}

<div id="box-navigation">
<!--<h4>Título left</h4>-->
<span class="inner-box no-border">

<div  style="text-align:center;">

{{if type=="other":}}
{{ profile = db(db.personal.userId==request.args[0]).select().first()}}
{{if profile["photo"]:}}
<img src="{{=URL('default', 'download', args=profile["photo"])}}">
{{else:}}
<img src="{{=URL('static', 'images/default-photo.jpg')}}">
{{pass}}

<p><b>Viewing profile from:</b></p>
{{user = db(db.auth_user.id==request.args[0]).select().first()}}
{{=user.first_name}} {{user.last_name}}

{{else:}}
{{profile = db(db.personal.userId==auth.user.id).select().first()}}
{{if profile["photo"]:}}
<img src="{{=URL('default', 'download', args=profile["photo"])}}">
{{else:}}
<img src="{{=URL('static', 'images/default-photo.jpg')}}">
{{pass}}

<p>{{=auth.user.first_name}} {{=auth.user.last_name}}</p>
{{pass}}


<br>
{{if type=="other":}}<a class="btn btn-secondary" href="{{=URL('cv','view', args=[id])}}">View CV</a> <a class="btn btn-secondary" href="{{=URL('user','add', args=[request.args[0]])}}">Add Friend</a>{{else:}}<a class="btn btn-secondary" href="{{=URL('cv','view')}}">View CV</a> <a class="btn btn-secondary" href="{{=URL('cv','edit')}}">Edit CV</a>{{pass}}
</div>
</span>
</div>

<div id="box-navigation" style="margin-top:30px;">
<h4>Your friends:</h4>
{{myFriends = db(db.personal.userId==auth.user.id).select(db.personal.friends).first()}}
<span class="inner-box">
<div class="photo-box">
	{{try:}}
{{for f in myFriends.friends:}}
{{photo = db(db.personal.userId==f).select(db.personal.photo).first()}}
<a href="{{=URL('default','index', args=[f])}}">
{{if photo["photo"]:}}
<img src="{{=URL('default', 'download', args=photo["photo"])}}">
{{else:}}
<img src="{{=URL('static', 'images/default-photo.jpg')}}">
{{pass}}
</a>
{{pass}}
{{except:}}
{{pass}}
<!--<img src="{{=URL('static', 'images/default-photo.jpg')}}"><img src="{{=URL('static', 'images/default-photo.jpg')}}"><img src="{{=URL('static', 'images/default-photo.jpg')}}"><img src="{{=URL('static', 'images/default-photo.jpg')}}"><img src="{{=URL('static', 'images/default-photo.jpg')}}"><img src="{{=URL('static', 'images/default-photo.jpg')}}"><img src="{{=URL('static', 'images/default-photo.jpg')}}"></div>-->
</div>
</span>

<div style="text-align:left;margin-top:0px;"><a class="btn btn-secondary" href="{{=URL('user','friends')}}">View more</a></div>
</div>

<div id="box-navigation" style="margin-top:30px;">
<h4>Groups defined:</h4>
<span class="inner-box">
<ul>
	{{groups = db(db.groups.userId == auth.user.id).select()}}
	{{for g in groups:}}
  <li><a title="{{for u in g.userIds:}} {{=u}} {{pass}}">{{=g.groupName}}</a></li>
  {{pass}}
<!--  <li><a href="#">Group 2</a></li>
  <li><a href="#">Group 3</a></li>
  <li><a href="#">Group 4</a></li>-->
</ul>
</span>

<div style="text-align:left;margin-top:0px;"><a class="btn btn-secondary" href="{{=URL('groups','new')}}">New Group</a></div>
</div>

{{pass}}



</div>