<div id="right">


<div id="box-navigation">
<h4>TAGS</h4>
<span class="inner-box">
<!--class="tag-active"-->
{{tagsDb = db(db.posts.id>0).select(db.posts.tags)}}
{{tags=[]}}
{{for t in tagsDb:}}
{{tags += t.tags}}
{{pass}}
{{tags = list(set(tags))}}

{{#for row in db().select(db.posts.tags, distinct=True):}}
{{#=row}}
{{#pass}}
<div class="tags">{{for tag in tags:}}<a href="{{=URL('tags','search', args=[tag])}}">{{=tag}}</a>{{pass}}</div>

</span>
</div>

<div id="box-navigation" style="margin-top:20px;">
<h4>Sponsors</h4>
<span class="inner-box">
<ul>
  <li><a href="https://www.uminho.pt/" target="_blank">University of Minho</a></li>
  <li><a href="https://www.di.uminho.pt/" target="_blank">Departamento de Informática</a></li>
  <li><a href="https://mei.di.uminho.pt/" target="_blank">Mestrado em Engenharia Informática</a></li>
  <li><a href="https://www.fct.pt/" target="_blank">Fundação para a Ciência e a Tecnologia</a></li>
</ul>
</span>
</div>



{{ users = db(db.personal.id>0).select(db.personal.id, db.personal.userId, db.personal.photo, limitby=(0, 7), orderby='<random>') }}
<div id="box-navigation" style="margin-top:30px;">
<h4>Users you might know:</h4>
<span class="inner-box">
<div class="photo-box">{{for profile in users:}}<a href="{{=URL('default','index', args=[profile.userId])}}">{{if profile["photo"]:}}<img src="{{=URL('default', 'download', args=profile["photo"])}}">{{else:}}<img src="{{=URL('static', 'images/default-photo.jpg')}}">{{pass}}</a>{{pass}}</div>
</span>

<div style="text-align:left;margin-top:0px;"><a class="btn btn-secondary" href="{{=URL('user','all')}}">View more</a></div>
</div>


</div>