{{block head}}{{end}}

{{extend 'layout.html'}}

{{block header}}

<div id="header">
<div id="head">
  <div id="head-right"></div>
  <div id="head-left"></div>
  <div id="head-clouds"></div>
  <div id="head-flag"></div>

  <div id="header-cats-box">
    <div id="head-cats"></div>
      <h1 class="nav-title">Informatics Social Network</h1>
  <h2 class="nav-title2">ISN</h2>
  </div>

</div><!--/head-->
</div> <!--/header-->

{{end}}

<div class="content-main">

<div class="row" style="margin-top:0px;min-height:1200px;background:#ffffff;">
  <div class="col-md-12" style="margin-top:0px;">
    <div class="content-padding">

{{include}}

{{include "right.html"}}
{{include "left.html"}}
</div><!--padding-->

</div>
</div>

</div><!--content-main-->
