
.content-main {
margin-top:300px;
margin-bottom:80px;

}

.content-main, .content-main div {
background:#ffffff;
z-index:200;
}

.content-main div {
z-index:200;
}

.navbar {
width:100%;
}

.nav-title {
display:block;
background:none;
text-align:center;
padding-top:70px;
font-size:4rem;
font-weight:bold;
color:#000000;
}

.nav-title2 {
display:block;
background:none;
text-align:center;
font-size:3rem;
font-weight:bold;
font-style: italic;
color:#333333;
z-index:10;


text-shadow: 3px 5px 2px #000000;

color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
margin:0px;
padding:0px;
}

.content-padding {
/*margin:0px 7%;*/
width:93%;
margin:0 auto;
position:relative;
padding-right:370px;
padding-left:370px;
margin-top:50px;
}


#right, #left {
z-index:200;
}

.main-submit div {
background:none;
}

.main-submit {
background:#333333;
padding:5px 5px;
border:1px solid gray;
border-radius:5px;
}

.main-submit form {
padding:10px;
border:2px solid #333333;
border-radius:5px;
background:#003366;
}

.main-submit form textarea {
width:100%;
display:block;
}

 select {
}

#posts_textual__row, #posts_files__row, #posts_imgs__row, #posts_link__row, #posts_privacy__row, #posts_tags__row {

}

.main-submit label {
  display:none;
}

.main-submit .col-sm-9 {
  max-width:100% !important;
  width:100% !important;
  display:block !important;
  flex: 0 1 auto !important;
}

#posts_files__row {
  display:inline-block;
  width:230px;
}
#posts_imgs__row {
  display:inline-block;
  width:280px;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label, 
.inputlabel {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label, 
.inputlabel {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg, .inputlabel {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label, .inputlabel {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover,
.inputlabel {
    background-color: #722040;
}

.inputtext {
    color: #f1e5e6 !important;
    background-color: #d3394c !important;
    width: 1.3em !important;
    height: 1.3em !important;
    vertical-align: middle !important;

    font-size: 1.25rem !important;
    /* 20px */
    font-weight: 700 !important;

    display: inline-block !important;
    padding: 0.625rem 1.25rem !important;
}

select#group {
width:160px;
display:inline-block;
}

input.post-submit {
/*width:160px;
display:inline-block;
float-right;
*/
}

.form-hidde {
background:none;
}

table.no-border, .no-border tr, .no-border td {
border:none;
}

table.no-border {
width: 100%;
}

.visibility-form {
width:100px;
}

.tags-form  {
width:50%;
}

.url-form {
width:50%;
}

.tags-form input, .tags-form li, .tags-form ul, .url-form input, .url-form li, .url-form ul {
/*display:inline-block;*/
width:100%;
}

.tags-form {
text-align:left;
}

.photo-box img {
width:25%;
padding:10px;
}

footer.footer {
/*position:relative;
margin-top:50px;
height:auto;
padding-top:10px;
padding-bottom:15px;*/
}

.fa {
color:#d3394c;

}

#posts_textual {
height:1em;
}

#posts_privacy {
width:250px;
}

#submit_record__row input {
  width:100%;
}


.box {
color:#333;
margin-top:15px;
}

.box li {
display:block;
background:#F7F7F7;
border:1px solid #ccc;
padding:10px 15px;
margin-bottom:20px;
}

.box li h3 {
font-size:1rem;
line-height:normal;
margin-bottom:10px;
display:inline-block;
background:#F7F7F7;
}

.box li p {
line-height:normal;

/*display:inline-block;*/
/*background:#F7F7F7;*/
}

.box li p:first-child {

}