/*@import url(http://fonts.googleapis.com/css?family=Noto+Sans);*/

*, *:after, *:before {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

*, html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, pre, code {
padding: 0;
margin: 0;
border:0;
}

/*
*, html, body {
font-size:100%;
padding:0;
margin:0;
}

html, body {
height:100%
}
*/

body {
/*font-family: 'Noto Sans', Arial, sans-serif;
font-size:18px;
color:#333;*/
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/*
p, code {
line-height:1.7em;
text-align:justify;
margin-bottom:0.5em;
}
*/

code {
font-family: 'Noto Sans', Arial, sans-serif;
background:#EFF0F1;
display: block;
white-space: pre;
padding:5px 10px;
margin:0.6em 0;
font-size:0.8rem;
}

ol {
list-style-position:inside;
}

dd {
margin-left:20px;
}


ul {
list-style-image:url(../images/arrow.gif);
list-style-position:inside;
}

ul li {
/*padding:4px 0;
text-indent:-1em;
padding-left:1em;*/
}

pre {
font-family: inherit;
text-align:left;
white-space:pre-wrap;
white-space:-moz-pre-wrap !important;
white-space:-pre-wrap; 
white-space:-o-pre-wrap; 
word-wrap:break-word; 
}

a {
/*color: #EAB974;*/
/*color: #41B7D8*/
/*color:#0099CC;*/
/*color:#4D8CF4;*/
/*color:#1C466E;*/
/*color:#3D5B99;*/
/*color:#607D8B;*/
color:#ff0206;
text-decoration:none;
text-shadow:1px 0px 0px #333;
}

a:hover {
color:#CF6E4A;
text-decoration:underline;
/*background:#ff0206;*/
color:#000000;
}

hr {
margin:30px 0px;
border:0px;
height:1px;
background: #333;
background-image:-webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image:-moz-linear-gradient(left, #ccc, #333, #ccc);
background-image:-ms-linear-gradient(left, #ccc, #333, #ccc);
background-image:-o-linear-gradient(left, #ccc, #333, #ccc);
}

h1 {
font-size: 1.3em;
background:rgba(255,165,0,0.6);
line-height:1.6em;
display:inline-block;
text-align:left;
color:black;
text-shadow:0px 1px 2px #fff;
margin:20px 0px 15px 0px;
}

.posts h1 {
margin:0px;
line-height:1.6em;
display:inline;
}

h2 {
color: #47a3da;
font-size: 1.3em;
margin:30px 0px 15px 0px;
}

.no_margin_top {
margin-top:0px;
}

h3 {

}

h4 {
font-size: 0.8em;
font-weight:normal;
text-transform:uppercase;
padding:0px 5px;
color:gray;
line-height:1.6em;
text-align:left;
}

img {
/*max-width and height is for responsive images, so they shrink with lower screen resolutions if needed*/
max-width:100%;
height:auto;
border:0;
}

img.hover-img:hover {
opacity:0.5;
}

.capitalize::first-letter {
text-transform: uppercase;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

table {border-spacing: 5px;}

th, td {
padding:10px;
}

th {
color:#ffffff;
background:#333333;
}

#top  {
position:relative;
}

#header {
width:100%;
position:fixed;
top:0;
left:0:
/*box-shadow: 0px 1px 1px 0px #888888;*/
}

#header:hover {
cursor:crosshair;
}

#head {
width:100%;
height:300px;
position:relative;
border-bottom:5px solid #754C24;
box-shadow: 0px 1px 5px 0px #333;
background-color:#ffffff;
transition: background-color 2s;
}

/*#head:hover {
background-color:#000713;
transition: background-color 5s;
}*/

.night {
background-color:#000713 !important;
transition: background-color 5s;
}

#head-clouds {
position:absolute;
top:0;
left:0;
z-index:1;
width:100%;
height:100%;
background: url(../images/header_clouds.png) repeat;
}

#header-cats-box {
overflow:hidden;
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
}

#head-cats {
position:absolute;
top:0px;
left:-86px;
z-index:10;
/*width:86px;
height:120px;
background:url(../images/cats/cat-v-1.gif) no-repeat;*/
}

.cats1 {
left:-86px;
width:86px;
height:120px;
background:url(../images/cats/cat-v-1.gif) no-repeat;
}


.cats2 {
left:-79px;
width:79px;
height:90px;
background:url(../images/cats/cat-v-2.gif) no-repeat;
}

.cats3 {
left:-93px;
width:93px;
height:140px;
background:url(../images/cats/cat-v-3.gif) no-repeat;
}


#head-flag {
position:absolute;
bottom:41px;
right:842px;
z-index:4;
width:96px;
height:120px;
background: url(../images/header_flag.gif) no-repeat;
transform: rotate(-10deg);
}

#head-right {
position:absolute;
bottom:0px;
right:0;
z-index:5;
width:1054px;
height:300px;
background:url(../images/header_right.png) no-repeat;
}

#head-left {
position:absolute;
bottom:0px !important;
left:0;
z-index:2;
width:846px;
height:300px;
background:url(../images/header_left.png) no-repeat;
}

#body-wrapper {
position:relative;
width:100%;
z-index:20;
background: #ffffff url(../images/cats/bg-pattern3.jpg) repeat;
margin-top:300px;
padding-top:80px;
-webkit-box-shadow: inset 0px 5px 10px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 5px 10px -8px rgba(0,0,0,0.75);
box-shadow: inset 0px 5px 10px -8px rgba(0,0,0,0.75);
padding-bottom:500px;
}

.head-game {
height:600px;
}

.body-game {
margin-top:600px;
}

#nav {
width:100%;
position:absolute;
top:0;
z-index:25;
background:#2B373B url(../images/bg_menu.png) repeat;
/*border-bottom:1px solid #333;*/
text-align:center;
}

.fixed-menu {
position: fixed !important;
top: 0px !important;
left: 0px !important;
}

.fixed-elements {
position: fixed !important;
top: 30px !important;
right: 0px !important;
}

.fixed-elements ul {
text-align:right;
}


.fixed-elements ul li {
display:block !important;
margin-left:0px !important;
margin-right:0px !important;
}


#menu {
z-index:30;
position:relative;
display:inline-block;
}

#nav #menu-left {
position:absolute;
top:0;
left:0;
z-index:26;
width:100%;
text-align:left;
}

#nav #menu-left ul {
display:inline-block;
}

#nav #menu-left ul.menu-nav-right {
float:right;
}

/*#nav #menu-right {
position:absolute;
top:0;
right:0;
z-index:26;
width:100%;
text-align:right;
}*/

#nav #menu-left ul, #nav #menu-right ul {
/*position:relative;*/
}

#nav #menu-left a, #nav #menu-right a {
color:#999999;
padding: 3px 15px;
margin:0;
}

#nav #menu-left a:hover, #nav #menu-right a:hover {
color:#ffffff;
}

#nav #menu-left a:hover::after {
content:attr(data-text);
color:#ffffff;
background:#744D2C;
padding: 5px 15px;
display:inline-block;
text-transform:uppercase;
width:auto;
text-align:center;
font-size:14px;
}

#nav #menu-left ul.menu-nav-left a:hover::after {
position:absolute;
top:30px;
left:0px;
}

#nav #menu-left ul.menu-nav-right a:hover::after {
position:absolute;
top:30px;
right:0px;
}

#nav ul {
/*position:relative;
height:100%;*/
list-style-type:none;
list-style-image:none;
}

#nav ul li {
display:inline-block;
padding:3px 0;
text-indent:0;
}

#nav a {
color:#ffffff;
margin:0px 10px;
padding:3px 5px;
}

#nav a:hover {
text-decoration:none;
background:#754C24;
}

#content {
background:rgba(255,255,255,0.95);
padding:30px 50px;
position:relative;
width:84%;
height:100%;
margin:25px auto;
min-height:800px;
-webkit-box-shadow: 0px 0px 3px 0px #333333;
-moz-box-shadow: 0px 0px 2px 0px #333333;
box-shadow: 0px 0px 3px 0px #333333;
}

#left {
/*margin-right:370px;*/
margin-right:390px;
}

#left {
width:320px;
position:absolute;
top:0;
left:0;
z-index:21;
margin:0;
}

#right {
width:320px;
position:absolute;
top:0;
right:0;
z-index:21;
}

#footer {
position:relative;/*needed to apply the z-index and be above the head div*/
z-index:19; /*nav fixed is z-index:20, so here it's 19*/
font-size:16px;
text-align:center;
padding:30px;
background:#000000 url(../images/bg_menu.png) repeat;
color:#ffffff;
border-top:5px solid gray;
}

#elements ul {
list-style-type:none;
}

#elements ul li {
display:inline-block;
margin-left: 15px;
}

/*#elements ul li:first-child {
margin-left: 0px;
}*/

.dialogue {
position:relative;
/*background:#00aabb;*/
background:#f5f5f5;
border-radius:5px;
padding:10px 20px;
border:2px solid #333333;
}

.dialogue:after {
content: '';
position:absolute;
right:0;
top:50%;
width:0;
height:0;
border:20px solid transparent;
border-left-color:#333333;
border-right:0;
border-bottom:0;
margin-top:-10px;
margin-right:-20px;
}

.dialogue-top:after {
border-bottom:20px solid transparent;
border-top:0;
}

.footer-logo {
margin-bottom:30px;
}

.footer-list a {
color:#ff0206;
}

.footer-col {
display:inline-block;
padding:0px 50px;
text-align:left;
vertical-align:top;
height:100%;
position:relative;
display:table-cell;
}

.footer-list a:hover {
text-decoration:none;
background:#FFC966;
color:#333;
}



input[type=text], select, input[type=radio], textarea {
/*font-size:16px;
border:1px dashed gray;
background:#eeeeee !important;
padding:5px 7px;
display:inline-block;*/
}

.go-top {
position:fixed;
bottom:-7px;
right:8.5%;
display:none;
z-index:25;
}

.go-top a:hover {
opacity:0.4;
-webkit-transition: opacity 0.5s; /* Safari */
transition: opacity 0.5s;
}
/*
input[type="submit"], .btn {
width:auto;
font-weight:bold;
border:1px solid #333;
background-color:#767676;
border-radius:4px;
box-shadow:inset 0 1px 3px #d7d7d7, inset 0 -15px #3d3d3d, 0 0 3px #555555;
-o-box-shadow:inset 0 1px 3px #d7d7d7, inset 0 -15px #3d3d3d, 0 0 3px #555555;
-webkit-box-shadow:inset 0 1px 3px #d7d7d7, inset 0 -15px #3d3d3d, 0 0 3px #555555;
-moz-box-shadow:inset 0 1px 3px #d7d7d7, inset 0 -15px #3d3d3d, 0 0 3px #555555;
color:#ffffff;
text-shadow:0 1px #000000;
padding:5px 30px;
}

input[type="submit"]:hover, .btn:hover {
background:#989898;
color:#FFC966;
cursor:hand;
cursor:pointer;
text-decoration:none;
text-shadow:1px 2px #000000;
}

form input:focus {
border:1px orange solid !important;
background:#fff799;
}
*/



ul.posts {
list-style:none;
list-style-image:none;
}

ul.posts>li {
padding:0;
text-indent:0;
display:inline-block;
width:100%;
vertical-align: top;
text-align:left;
margin-top:50px;

/*
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
box-shadow: 0px 1px 3px rgba(0,0,0,0.2);*/

/*border:1px solid #C0C0C0;

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;*/
}

ul.posts>li:first-child {
margin-top:0px;
}

.posts .post-text>p {
/*margin-top:15px;
color:red;*/
}

.posts .post-text {
/*white-space: pre-wrap;*/
}

.posts .post-text p:first-child {
margin-top:0px;
}

.posts h1 a {
color:inherit;
text-decoration:none;
text-shadow:none;
}

.posts h1 a:hover {
color: inherit;
}

.posts .date {
display:block;
font-size:0.75em;
text-align:right;
color:gray;
margin:10px 0 0 0;
}

.posts .post-bar {
text-align:right;
margin-top:50px;
position:relative;
vertical-align: top;
}

.posts .post-bar .comments_count {
float:left;
}

.posts .post-bar span {
font-size: 10px;
font-weight:normal;
color:gray;
/*line-height:1.6em;*/
display:inline-block;
text-transform: uppercase;
}

.tags a, .tags .red-box {
font-size: 0.8em;
font-weight:normal;
padding:0px 5px;
background:rgba(255,2,6,1);
color:#fff;
line-height:1.6em;
display:inline-block;
margin-left:5px;
}

.tags a:hover, .tags a.tag-active {
color:rgba(255,2,6,1);
background:#ffffff;
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(255,2,6,1);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(255,2,6,1);
box-shadow: inset 0px 0px 3px 0px rgba(255,2,6,1);
text-decoration:none;
text-shadow:none;
}

a.tags-black {
background:#333333;
}

a.tags-black:hover {
color:#333333;
box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,1);
}

.albums-tags a {
background:#333333;
margin-left:10px;
}

.albums-tags a:first-child {
margin-left:0px;
}

.albums-tags a:hover, .albums-tags a.tag-active {
color:#333333;
-webkit-box-shadow: inset 0px 0px 3px 0px #333333;
-moz-box-shadow: inset 0px 0px 2px 0px #333333;
box-shadow: inset 0px 0px 3px 0px #333333;
}

.table-form {
width:65%;
}

.table-form tr td {
padding-top:10px;
}

.table-form tr:first-child td {
padding-top:0px;
}

.table-form td {
vertical-align: top;
width:100%;
}

.table-form td:first-child {
width:auto;
padding-right:15px;
}


.table-form input[type=text], textarea {
font-size:16px;
width:100%;
border:1px dashed gray;
background:#eee;
padding:5px 7px;
display:inline-block;
}

.table-form textarea {
height:200px;
}

.table-form input[type=text]:focus, .table-form textarea:focus, .table-form input[type=text]:hover, .table-form textarea:hover {
border:1px orange solid !important;
background:#fff799;
}

.fb-comments span {

}

.comments-box {
font-size:16px;
margin-top:50px;
}

.new-comment {
margin:15px 0;
border-radius:3px;
padding:15px 25px;
-webkit-box-shadow: inset 0px 0px 3px 0px rgba(255,2,6,1);
-moz-box-shadow: inset 0px 0px 3px 0px rgba(255,2,6,1));
box-shadow: inset 0px 0px 2px 0px #333;
position:relative;
min-height:250px;
background:#F2F2F2 url(../images/anonimo.png) no-repeat right 20px top 20px;
/*opacity:0.1;*/
}



.new-comment-overlay {
opacity:1;
}

.new-comment form textarea, input[type=text] {
background:rgba(255,255,255,0.9);
}

.box {
width:100%;
margin-bottom:40px;
}

/*if image it has to be 318px widht max and apply style="padding:0;line-height:0;"*/
span.inner-box {
display:block;
border:1px solid #C0C0C0;
border-radius:2px;
padding:5px 10px;
}

span.no-border {
border:none;
}

#box-navigation, .box-li {
width:320px;
}

#box-navigation h4, .box-li h4 {
background:#ffffff;
}

#box-navigation span.inner-box, .box-li span.inner-box {
background:#ffffff;
}

#box-navigation ul, .box-li ul {
list-style-image: none;
list-style-type: none;
margin:0;
padding:0;
}

#box-navigation li, .box-li li {
border-bottom:1px solid #ccc;
padding-left:0;
text-indent:0;
line-height:1.4em;
}

#box-navigation li:last-child, .box-li li:last-child {
border:none;
}

#box-navigation li span, .box-li li span {
float:left;
font-weight:normal;
color:gray;
background:;
padding:2px 3px;
font-size:14px;
margin-right:10px;
}

#box-navigation li a, .box-li li a {
text-decoration:none;
color:#000;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
-webkit-transition: font-size 0.2s ease, background-color 0.2s ease;
-moz-transition: font-size 0.2s ease, background-color 0.2s ease;
-o-transition: font-size 0.2s ease, background-color 0.2s ease;
-ms-transition: font-size 0.2s ease, background-color 0.2s ease;
transition: font-size 0.2s ease, background-color 0.2s ease;
display:block;
text-shadow: 1px 1px 0px #F1F1F1;
}

#box-navigation li a:hover, .box-li li a:hover {
font-size:1.05em;
/*background-color:#f6f6f6;*/
background-color:#FFC966;
}

#box-navigation li.post-current a, .box-li li.post-current a {
background-color:#FFC966;
}

@media (max-width: 1680px) {
  body {
  font-size:16px;
  }

  p {

  }
  #nav #menu-left ul.menu-nav-right a:hover::after, #nav #menu-left ul.menu-nav-left a:hover::after {
  top:28px;
  }
  #content {
  width:85%;
  }
}

@media (max-width: 1440px) {
    body {

    }
    #content {
    width:86%;
    }
    #nav #menu-left ul.menu-nav-right a:hover::after, #nav #menu-left ul.menu-nav-left a:hover::after {
    top:28px;
    }
}

@media (max-width: 1366px) {
    body {

    }
    #content {
    width:92%;
    }
    #left {
    margin-right:360px;
    }
}

@media (max-width: 1200px) {
    body {
    font-size:15px;
    }
    #nav #menu-left ul.menu-nav-right a:hover::after, #nav #menu-left ul.menu-nav-left a:hover::after {
    top:26px;
    }
}

@media (max-width: 1024px) {
    body {

    }
    #content {
    width:95%;
    }
    #left {
    margin-right:350px;
    }
}

@media (max-width: 850px) {
    body {

    }
    #right {
    width:160px;
    }
    #left {
    margin-right:190px;
    }
}

@media (max-width: 599px) {
  #nav a {
  color:#ffffff;
  margin:0px 0px;
  padding:3px 5px;
  }
  #header, #head, #body-wrapper, #footer {
    min-width:400px;
  }
  #header, #head {
    padding:0;
    margin:0;
    border:0;
  }
  #content {

  }

  div.fixed-menu {
  position: absolute !important;
  top: 0px !important;
  left: auto !important;
  }
  #nav #menu-left {
    top:25px;
  }
  #nav #menu-left a, #nav #menu-right a {
  text-shadow:none;
  }
  #nav #menu-left a:hover::after {
    display:none;
  }
  #head-left {
  display:none;
  }
  #head-right {
  right:-200px;
  }
}
