{{block head}}
<script src="{{=URL('static','js/chart.bundle.min.js')}}"></script>
<style type="text/css">
.edit_links a {
display:inline-block;
background:orange;
border:1px solid #333;
padding:2px 10px;
margin:6px;
}

#footer {display:none;}
.sticky-container {display:none;}
.w2p_export_menu a.btn, a.btn-default {
background:#333;
color:#ffffff;
}
.w2p_export_menu a:hover.btn {
color:orange;
}

.web2py_counter {
font-weight:bold;
color:red;
}
.w2p_fl {
display:block;
font-weight:bold;
}
.w2p_fw, {
display:block;
font-weight:bold;
}

form .form-control, .w2p_query_row .form-control {
height: 30px !important;
line-height: 30px !important;
}

.web2py_form table td.w2p_fl {
width:400px !important;
display:table-cell !important;
word-wrap: break-word !important;
white-space: normal !important;
border-right:1px solid #333;
padding-right:3px;
}

.web2py_form table td.w2p_fl label {
display:inline !important;
word-wrap: break-word !important;
white-space: normal !important;
font-size:12px;
color:gray;
}

.web2py_form table tr {
border-bottom:1px solid #333;
}

.web2py_form table td.w2p_fc {display:none;}

input:hover, textarea:hover, select:hover {
-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.65);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.65);
}

textarea, .textareaClone {
min-height:7em !important;
}

#quick-bar-left {
position:fixed;
top:0px;
left:0px;
z-index: 999;
width:100px;
}

#quick-bar-left ul {
display:inline-block;
margin:0;
padding:0;
width:100px;
}

#quick-bar-left ul li {
display:block;
width:100px;
/*padding-left:10px;*/
}

#quick-bar-left ul li a {
display:block;
background:#333;
border:1px solid #000000;
padding:0px 5px;
color:#ffffff;
font-size:12px;
}
#quick-bar-left ul li a:hover {
background:beige;
color:#000000;
text-decoration:none;
}

.img-title a:hover {
position:relative;
}

.img-title a[title]:hover:after {
content: attr(title);
padding: 4px 8px;
color: #333;
position: absolute;
left: 40px;
top: 0px;
white-space: nowrap;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0px 0px 4px #222;
-webkit-box-shadow: 0px 0px 4px #222;
box-shadow: 0px 0px 4px #222;
background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

h3 {text-transform: uppercase;}
h2 {
text-transform: uppercase;
background:yellow;
font-size:1.5em;
}
ul.box li {
padding: 2px 5px;
margin-bottom: 7px;
font-size:12px;
display:block;
}
pre {
word-wrap: break-word;
/*white-space: normal;*/
word-break: normal;
line-height:20px;
display:block;
}
.table {

}
.table th {
background:#333333;
color:#ffffff;
}
.table td, .table th {
text-align:center;
border:1px solid #dfd7ca;
}
.table td:first-child, .table th:first-child {
text-align:left;
}
.table-highlight {
background:beige;
}
option, select, form {
margin:0px;
}
hr{border:2px dashed #333333;}
#research_group_pub {text-decoration:underline;}
#report a:hover {

}
}
</style>
{{end}}

{{extend 'sublayout.html'}}

{{user_groups=""}}
<div class="content-with-side-bar">


<div class="content">
<div class="content-full-width">

  <div id="year_filter" style="display:inline-block;float:right;margin:0px 0px;padding:0px;text-align:right;vertical-align:top;">
    <form enctype="multipart/form-data" method="get" style="display:inline-block;positon:relative;padding:0px;margin:0px;vertical-align:top;">
    <strong style="vertical-align:top;">YEAR:</strong> <select name="year" style="width:150px;margin:0;display:inline;vertical-align:top;">
    {{year_last = request.now.year}}
    {{year_first = 2017}}
    {{year_n = year_last}}
    {{while year_n >= year_first:}}
    <option value="{{=year_n}}"{{if YEAR==year_n:}} selected{{pass}}>{{=year_n}}</option>
    {{year_n -= 1}}
    {{pass}}
    </select> <input type="submit" value="Submit" class="btn" style="font-size:16px;padding:2px 10px;display:inline;">
    </form>
  </div>

<h1>Relatório <!--<a href="{{=URL('default','report',args=['2018'])}}">--><u>{{=YEAR}}</u><!--</a>--></h1>

<br>
<div style="float:left;margin:10px 0px;text-align:left;background:none;display:inline-block;padding:5px;float:right;">
<strong style="vertical-align:top;">REPORT BY:</strong><br><a href="#numbers" class="btn" style="margin:0;margin-left:8px;">Numbers</a><a href="#report" class="btn" style="margin:0;margin-left:8px;">Text</a>
</div>

<br>
<br><br><br>

<!--<div id="type_filter" style="margin:10px 0px;text-align:left;">
<strong>FILTER BY TYPE:</strong><br>
<select>
<option value="Todos" selected="selected">Todos</option>
{{for type in research_types:}}
<option value="{{=type}}">{{=type.replace("_", " ").capitalize()}}</option>
{{pass}}
</select>
</div>-->


<div id="numbers">
<h2>Statistics:</h2>

<h3>Total Publications by Researcher ({{=YEAR}}):</h3>
<table class="table">
<tr>
  <th>Researcher</th>
  <th>Total</th>
  <th>Books</th>
  <th>Book Proceedings</th>
  <th>Chapters</th>
  <th>Papers</th>
  <th>Proceedings</th>
  <th>Artistic</th>
  <th>Other</th>
</tr>

{{#check if the user is active! It could be hidden!}}
{{active_ids = db( (db.auth_user.id>0)).select(db.auth_user.id)}}
{{ids_list = []}}
{{for id in active_ids:}}
{{ids_list.append(id["id"])}}
{{pass}}

{{user_id_temp = []}}

{{for row in publications.sort(lambda row: row.user_id):}}
  {{#if row.user_id not in user_id_temp:}}
    {{if row.user_id in ids_list:}}
    {{user_id_temp.append(row.user_id)}}
    {{pass}}
  {{#pass}}
{{pass}}

{{from collections import Counter}}
{{#user_sorted = Counter(user_id_temp).most_common()}}
{{ user_counter = Counter(user_id_temp) }}
{{user_sorted = sorted( user_counter, key=user_counter.get, reverse=True) }}

{{ research_groups_pubs = {} }}
{{for group in groups:}}
{{research_groups_pubs[group] = 0}}
{{pass}}

{{for row in user_sorted:}}
{{ #temp_user = db(db.auth_user.id == row).select().first() }}
{{ temp_user = db(db.auth_user.id == row).select().first() }}

  <tr>
    <td>{{=temp_user['first_name']}} {{=temp_user['last_name']}}</td>
    <td class="table-highlight">{{=db( (db.publications.user_id == row) & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Livro") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Livro de atas") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Capítulo de livro") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Artigo em revista") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Artigo em livro de atas") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Trabalho de natureza artística") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
    <td>{{=db( (db.publications.user_id == row) & (db.publications.pub_type == "Outro") & (db.publications.date_pub.year()==YEAR) ).count()}}</td>
  </tr>
  {{pass}}

{{pass}}
</table>

<br>
<br>


<h3>Publications by month:</h3>

{{months_query = [
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==1)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==2)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==3)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==4)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==5)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==6)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==7)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==8)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==9)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==10)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==11)),
db( (db.publications.date_pub.year()==YEAR) & (db.publications.date_pub.month()==12))
]}}

{{month_totals = []}}
{{for m in months_query:}}
{{month_totals.append(m.count())}}
{{pass}}

{{book_totals=[]}}
{{for m in months_query:}}
{{book_totals.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Livro')))}}
{{pass}}

{{book_proceedings_totals=[]}}
{{for m in months_query:}}
{{book_proceedings_totals.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Livro de atas')))}}
{{pass}}

{{papers_total=[]}}
{{for m in months_query:}}
{{papers_total.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Artigo em revista')))}}
{{pass}}

{{chapters_total=[]}}
{{for m in months_query:}}
{{chapters_total.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Capítulo de livro')))}}
{{pass}}

{{proceedings_total=[]}}
{{for m in months_query:}}
{{proceedings_total.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Artigo em livro de atas')))}}
{{pass}}

{{artistic_total=[]}}
{{for m in months_query:}}
{{artistic_total.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Trabalho de natureza artística')))}}
{{pass}}

{{others_total=[]}}
{{for m in months_query:}}
{{others_total.append(len(m.select(db.publications.pub_type).find(lambda row: row.pub_type=='Outro')))}}
{{pass}}


<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: 'Total Publications',
            fill: false,
            backgroundColor: '#39A0EA',
					  borderColor: '#39A0EA',
            data: {{=month_totals}},
          },
          {
              label: 'Books',
              fill: false,
              backgroundColor: '#FF6383',
              borderColor: '#FF6383',
              data: {{=book_totals}},
            },
            {
                label: 'Book Proceedings',
                fill: false,
                backgroundColor: '#27CDCD',
                borderColor: '#27CDCD',
                data: {{=book_proceedings_totals}},
              },
              {
                  label: 'Papers',
                  fill: false,
                  backgroundColor: '#FF9029',
                  borderColor: '#FF9029',
                  data: {{=papers_total}},
                },
                {
                    label: 'Chapters',
                    fill: false,
                    backgroundColor: '#8044FF',
                    borderColor: '#8044FF',
                    data: {{=chapters_total}},
                  },
                  {
                      label: 'Proceedings',
                      fill: false,
                      backgroundColor: '#AFB3BD',
                      borderColor: '#AFB3BD',
                      data: {{=proceedings_total}},
                    },
                    {
                        label: 'Artistic',
                        fill: false,
                        backgroundColor: '#FFE300',
                        borderColor: '#FFE300',
                        data: {{=artistic_total}},
                      },
                      {
                          label: 'Other',
                          fill: false,
                          backgroundColor: '#333333',
                          borderColor: '#333333',
                          data: {{=others_total}},
                        }
            ]
          },
    options: {
      responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

</div><!--numbers-->

<br>
<br>

<div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>


<hr>

<br>


<!--
<div id="quick-bar-left" class="img-title">
<uL>
<li><a href="#body" title="Top" style="width:60px;">&#8679;</a></li>
<li><a href="#cv-publications" title="Publications" style="width:60px;">{{if session.ling == 'en':}}Publications{{else:}}Publicações{{pass}}</a></li>
<li><a href="#cv-events" title="Events" style="width:60px;">{{if session.ling == 'en':}}Events{{else:}}Eventos{{pass}}</a></li>
<li><a href="#cv-papers" title="Papers" style="width:60px;">{{if session.ling == 'en':}}Papers{{else:}}Comunicações{{pass}}</a></li>
</ul>
</div>-->

<br>

{{#=table}}


{{if publications:}}

  {{books=[]}}
  {{book_proceedings=[]}}
  {{papers=[]}}
  {{chapters=[]}}
  {{proceedings=[]}}
  {{artistic=[]}}
  {{others=[]}}

  {{for publication in publications:}}
      {{if publication["pub_type"] == "Livro":}}
          {{books.append(publication)}}
      {{elif publication["pub_type"] == "Livro de atas":}}
          {{book_proceedings.append(publication)}}
      {{elif publication["pub_type"] == "Artigo em revista":}}
          {{papers.append(publication)}}
      {{elif publication["pub_type"] == "Capítulo de livro":}}
          {{chapters.append(publication)}}
      {{elif publication["pub_type"] == "Artigo em livro de atas":}}
          {{proceedings.append(publication)}}
      {{elif publication["pub_type"] == "Trabalho de natureza artística":}}
          {{artistic.append(publication)}}
      {{elif publication["pub_type"] == "Outro":}}
          {{others.append(publication)}}
      {{pass}}
  {{pass}}

<p style="text-align:right;"><button class="select-copy" type="button" onclick="focusDiv(this);">Seleccionar tudo para copy paste</button></p>

<div id="report" class="no-focus" contenteditable="true" style="border:1px solid #333;padding:10px;width:100%;display:block;">

<h2 id="cv-publications">{{if session.ling == 'en':}}Publications{{else:}}Publicações{{pass}} - <span id="research_group_pub">TODOS</span> <span class="total_count">(Total: <span class="total_count_n">{{=len(books)+len(book_proceedings)+len(papers)+len(chapters)+len(proceedings)+len(others)+len(artistic)}}</span>)</span></h2>


{{if books:}}
  <h3>{{if session.ling == 'en':}}Books{{else:}}Livros{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(books)}}</span>)</span></h3>
  {{int_c = 0}}
  {{int_li = ''}}
  {{nac_li = ''}}
  {{nac_c = 0}}

{{for publication in books:}}
{{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}



  {{if publication.int_nac == "Nacional":}}
  {{nac_c += 1}}
  {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
  {{elif publication.int_nac == "Internacional":}}
  {{int_c += 1}}
  {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
  {{pass}}
{{pass}}

  <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
    <ul class="box">
    {{=XML(int_li)}}
    </ul>

    <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
      <ul class="box">
      {{=XML(nac_li)}}
      </ul>
    <div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>

    <br>
  {{pass}}<!--if books-->


  {{if book_proceedings:}}
    <h3>{{if session.ling == 'en':}}Proceedings books{{else:}}Livros de atas{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(book_proceedings)}}</span>)</span></h3>
    {{int_c = 0}}
    {{int_li = ''}}
    {{nac_li = ''}}
    {{nac_c = 0}}

  {{for publication in book_proceedings:}}
  {{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}



    {{if publication.int_nac == "Nacional":}}
    {{nac_c += 1}}
    {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
    {{elif publication.int_nac == "Internacional":}}
    {{int_c += 1}}
    {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
    {{pass}}
  {{pass}}

    <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
      <ul class="box">
      {{=XML(int_li)}}
      </ul>

      <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
        <ul class="box">
        {{=XML(nac_li)}}
        </ul>
    <div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>

    <br>
    {{pass}}<!--if book_proceedings-->



{{if papers:}}
  <h3>{{if session.ling == 'en':}}Papers{{else:}}Artigos{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(papers)}}</span>)</span></h3>
  {{int_c = 0}}
  {{int_li = ''}}
  {{nac_li = ''}}
  {{nac_c = 0}}

{{for publication in papers:}}
{{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}


  {{if publication.int_nac == "Nacional":}}
  {{nac_c += 1}}
  {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
  {{elif publication.int_nac == "Internacional":}}
  {{int_c += 1}}
  {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
  {{pass}}
{{pass}}

  <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
    <ul class="box">
    {{=XML(int_li)}}
    </ul>

    <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
      <ul class="box">
      {{=XML(nac_li)}}
      </ul>
<div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>

  <br>
  {{pass}}<!--if papers-->



  {{if chapters:}}
    <h3>{{if session.ling == 'en':}}Book chapters{{else:}}Capítulos em livros{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(chapters)}}</span>)</span></h3>
    {{int_c = 0}}
    {{int_li = ''}}
    {{nac_li = ''}}
    {{nac_c = 0}}

  {{for publication in chapters:}}
  {{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}


  {{user_groups = user_groups.strip()}}

    {{if publication.int_nac == "Nacional":}}
    {{nac_c += 1}}
    {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
    {{elif publication.int_nac == "Internacional":}}
    {{int_c += 1}}
    {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
    {{pass}}
  {{pass}}

    <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
      <ul class="box">
      {{=XML(int_li)}}
      </ul>

      <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
        <ul class="box">
        {{=XML(nac_li)}}
        </ul>
  <div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>

  <br>

    {{pass}}<!--if chapters-->


{{if proceedings:}}
  <h3>{{if session.ling == 'en':}}Proceedings papers{{else:}}Artigos em livros de atas{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(proceedings)}}</span>)</span></h3>
  {{int_c = 0}}
  {{int_li = ''}}
  {{nac_li = ''}}
  {{nac_c = 0}}

{{for publication in proceedings:}}
{{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}



  {{if publication.int_nac == "Nacional":}}
  {{nac_c += 1}}
  {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
  {{elif publication.int_nac == "Internacional":}}
  {{int_c += 1}}
  {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
  {{pass}}
{{pass}}

  <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
    <ul class="box">
    {{=XML(int_li)}}
    </ul>

    <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
      <ul class="box">
      {{=XML(nac_li)}}
      </ul>
  <div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>

    <br>
  {{pass}}<!--if proceedings-->



  {{if artistic:}}
    <h3>{{if session.ling == 'en':}}Artistic works{{else:}}Trabalhos de natureza artística{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(artistic)}}</span>)</span></h3>
    {{int_c = 0}}
    {{int_li = ''}}
    {{nac_li = ''}}
    {{nac_c = 0}}

  {{for publication in artistic:}}
  {{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}


    {{if publication.int_nac == "Nacional":}}
    {{nac_c += 1}}
    {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
    {{elif publication.int_nac == "Internacional":}}
    {{int_c += 1}}
    {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
    {{pass}}
  {{pass}}

    <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
      <ul class="box">
      {{=XML(int_li)}}
      </ul>

      <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
        <ul class="box">
        {{=XML(nac_li)}}
        </ul>

  <div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>

      <br>
    {{pass}}<!--if artistic-->



    {{if others:}}
      <h3>{{if session.ling == 'en':}}Other publications{{else:}}Outras publicações{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=len(others)}}</span>)</span></h3>
      {{int_c = 0}}
      {{int_li = ''}}
      {{nac_li = ''}}
      {{nac_c = 0}}

    {{for publication in others:}}
    {{user_temp = db(db.auth_user.id == publication.user_id).select().first()}}


      {{if publication.int_nac == "Nacional":}}
      {{nac_c += 1}}
      {{nac_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
      {{elif publication.int_nac == "Internacional":}}
      {{int_c += 1}}
      {{int_li += '<li title="Pub id: '+str(publication.id)+' | User: '+user_temp['first_name']+'" class="'+user_groups+'"><pre style="word-wrap: break-word;">'+xmlescape(publication["cite"].strip().replace('\n','').replace('\r','').replace('\t',''))+'</pre></li>'}}
      {{pass}}
    {{pass}}

      <h4>{{if session.ling == 'en':}}International{{else:}}Internacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=int_c}}</span>)</span></h4>
        <ul class="box">
        {{=XML(int_li)}}
        </ul>

        <h4>{{if session.ling == 'en':}}National{{else:}}Nacional{{pass}} <span class="total_count">(Total: <span class="total_count_n">{{=nac_c}}</span>)</span></h4>
          <ul class="box">
          {{=XML(nac_li)}}
          </ul>
<div style="text-align:right;"><a href="#body" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
      {{pass}}<!--if others-->



{{pass}}<!--if publications-->

</div><!--report-->


</div><!--content-->
</div><!--content-full-width-->




<script>
$( document ).ready(function() {

$('.filter_by_group select').change(function() {
var temp_var = $(this).val();
var temp_text = $(this).children("option").filter(":selected").text();

$('#research_group_pub').text(temp_text);

if (temp_var == 'ALL') {
$('#report li').show();
}
else {
$('#report li.'+temp_var).show();
$('#report li:not(".'+temp_var+'")').hide();
}
  //Update Counts
  $('#report h2 .total_count_n').text("0");
  $('#report h3 .total_count_n').text("0");

  //H4 update
  $( "#report ul.box" ).each(function( index ) {
  if (temp_var != "ALL") {
  var temp_count = $(this).children('li.'+temp_var).length;
  }
  else {
  var temp_count = $(this).children('li').length;
  }
  $(this).prev('h4').find('.total_count_n').text(temp_count);
  //var h3 = $(this).prev('h3').find('.total_count_n');
  //alert($(this).prev('h3').find('.total_count_n').text());
  //$(this).prev('h3').find('.total_count_n').text(temp_count);
  //h3.text(parseInt(h3.text())+temp_count);
  });

  var h2_count_temp = 0;
  //H3 update
  $( "#report h3" ).each(function( index ) {
    var h3_count_temp = 0;

    $(this).nextUntil("div", "h4").addClass("sum-temp");

      $('h4.sum-temp').each(function(index){
        h3_count_temp = h3_count_temp + parseInt($(this).find('.total_count_n').text());
        $(this).removeClass("sum-temp");
      });
    $(this).find('.total_count_n').text(h3_count_temp);
    h2_count_temp = h2_count_temp + h3_count_temp;
  });

  //H2 update
  $( "#report h2" ).find('.total_count_n').text(h2_count_temp);

});
});
</script>

<script>
  function focusDiv(x) {
      $("#report").removeClass( "yes-focus" );
      document.getElementById('report').focus();
      document.execCommand('selectAll', false, null);
  }
  </script>
</div><!-- /content-with-side-bar -->