{{block head}}
<style type="text/css">

</style>
{{end}}

{{extend 'sublayout.html'}}

<div class="content-with-side-bar">

<h2>{{if session.ling == 'en':}}New Group{{else:}}New Group{{pass}}</h2>
{{=form}}

</div>
