{{block head}}
<style type="text/css">

</style>
{{end}}

{{extend 'layout.html'}}
{{block header}}
<div id="header">
<div id="head">
  <div id="head-right"></div>
  <div id="head-left"></div>
  <div id="head-clouds"></div>
  <div id="head-flag"></div>

  <div id="header-cats-box">
    <div id="head-cats"></div>
      <h1 class="nav-title">Informatics Social Network</h1>
  <h2 class="nav-title2">ISN</h2>
  </div>

</div><!--/head-->
</div> <!--/header-->
{{end}}


<div class="content-main">

<div class="content-with-side-bar">
<div class="row" style="margin-top:0px;">
  <div class="col-md-12" style="margin-top:0px;">
    <div class="content-padding" style="min-height:1000px;">

<h2>{{if session.ling == 'en':}}New Post{{else:}}New Post{{pass}}</h2>

{{if auth.user:}}
<div class="main-submit">
{{=form}}
</div> <!--main-submit-->
{{pass}}


</div>
</div>
</div>

</div>

<script>
$( document ).ready(function() {
$("#posts_textual").attr( "rows", "1" );
$("#posts_textual").attr( "placeholder", "What have you done?..." );

$("#posts_files").addClass("inputfile inputfile-1");
$("#posts_files").after('<label for="posts_files"><svg class="svg-icon" viewBox="0 0 20 20"><path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path></svg><span>Add File&hellip;</span></label>')

$("#posts_imgs").addClass("inputfile inputfile-1");
$("#posts_imgs").after('<label for="posts_imgs"><svg class="svg-icon" viewBox="0 0 20 20"><path d="M10,6.536c-2.263,0-4.099,1.836-4.099,4.098S7.737,14.732,10,14.732s4.099-1.836,4.099-4.098S12.263,6.536,10,6.536M10,13.871c-1.784,0-3.235-1.453-3.235-3.237S8.216,7.399,10,7.399c1.784,0,3.235,1.452,3.235,3.235S11.784,13.871,10,13.871M17.118,5.672l-3.237,0.014L12.52,3.697c-0.082-0.105-0.209-0.168-0.343-0.168H7.824c-0.134,0-0.261,0.062-0.343,0.168L6.12,5.686H2.882c-0.951,0-1.726,0.748-1.726,1.699v7.362c0,0.951,0.774,1.725,1.726,1.725h14.236c0.951,0,1.726-0.773,1.726-1.725V7.195C18.844,6.244,18.069,5.672,17.118,5.672 M17.98,14.746c0,0.477-0.386,0.861-0.862,0.861H2.882c-0.477,0-0.863-0.385-0.863-0.861V7.384c0-0.477,0.386-0.85,0.863-0.85l3.451,0.014c0.134,0,0.261-0.062,0.343-0.168l1.361-1.989h3.926l1.361,1.989c0.082,0.105,0.209,0.168,0.343,0.168l3.451-0.014c0.477,0,0.862,0.184,0.862,0.661V14.746z"></path></svg><span>Add Image&hellip;</span></label>')

$("#posts_imgs").appendTo("#destination");

//$("#posts_files__row").before('<hr />');

$("#posts_link__row").before('<div id="output" style="color:#ffffff;margin-bottom:10px;"></div>');

$("#posts_privacy__row").children(".col-sm-9").html('<select id="posts_privacy" class="form-control" id="group" name="privacy"><option value="all">All</option><option value="registered">Registered</option><option value="friends">Friends</option><option value="me">Only me</option></select>');

$("#posts_link_grow_input").before('<span style="color:#ffffff;font-weight:bold;">URLs:</span><br>');
$("#posts_privacy").before('<span style="color:#ffffff;font-weight:bold;">Visibility:&nbsp;</span><br>');
$("#posts_tags_grow_input").before('<span style="color:#ffffff;font-weight:bold;">Tags:&nbsp;</span><br>');

});
</script>
