{{block head}}
<style type="text/css">
.table-profile-data table tr td:first-child {
padding-right:20px;
}
.table-profile-data table tr td:nth-child(2) {
display:none;
}

.table-profile-data table tr td {
padding-bottom:10px;
}

.table-profile-data table tr:last-child td {
padding-bottom:0px;
}

.table-profile-data table tr td {
/*border-top:1px solid #333333;*/
}

.table-profile-data table tr:first-child td {

}
.sciece-labels a {
margin-top:10px;
}
</style>
{{end}}

{{extend 'sublayout.html'}}

<div class="content-with-side-bar">

<h2>{{if session.ling == 'en':}}CV EDIT{{else:}}EDITAR CV{{pass}}</h2>

<div style="background:beige;padding:10px 15px;border:1px solid #333;border-radius:3px;margin-bottom:10px;">
<h3 style="padding:3px 10px;background:#000000;color:#ffffff;font-size:22px;">{{if session.ling == 'en':}}Personal information{{else:}}Informações pessoais{{pass}}:</h3>

<h2 style="color:#333333;"><span style="font-weight:normal;float:right;"><a class="btn btn-secondary" href="{{=URL('cv','personal')}}">Edit personal data</a> <a class="btn btn-secondary" href="{{=URL('cv','edit')}}">CV Hub</a> <a class="btn btn-secondary" href="/isn">Homepage</a></span> <b>{{if session.ling == 'en':}}Name{{else:}}Nome{{pass}}</b>: {{=name}}</h2>


</div>



{{if item:}}
<br>
<h3 style="padding:3px 10px;background:#000000;color:#ffffff;font-size:22px;">{{if session.ling == 'en':}}{{=T(dbs_labels_en[item])}}{{else:}}{{=T(dbs_labels_pt[item])}}{{#=item.upper()}}{{pass}}</h3>
{{=form}}

{{else:}}
<br>
<h3 style="padding:3px 10px;background:#000000;color:#ffffff;font-size:22px;">{{if session.ling == 'en':}}Scientific Outputs - Add/Edit{{else:}}Produção Científica - ADICIONAR/EDITAR{{pass}}:</h3>
<div class="sciece-labels">
{{for d in dbs_list:}}
<a href="{{=URL('cv','edit', vars={'item':d})}}" class="btn btn-secondary" style="font-size:14px;">{{if session.ling == 'en':}}{{=T(dbs_labels_en[d])}}{{else:}}{{=T(dbs_labels_pt[d])}}{{pass}} {{#=d.upper().replace('_', ' ')}}</a>
{{pass}}
</div>

<br><br>
<h3 style="padding:3px 10px;background:#000000;color:#ffffff;font-size:22px;"><i>CV API</i></h3>
<div class="sciece-labels"><a class="btn btn-secondary" href="{{=URL('grammar','view')}}">Grammar Parser</a> <a class="btn btn-secondary" href="#">REST API</a> <a class="btn btn-secondary" href="#">Import from CVITAE</a> <a class="btn btn-secondary" href="#">Export to CVITAE</a></div>

{{pass}}


</div><!-- /content-with-side-bar -->
