{{block head}}
<script src="{{=URL('static','js/expanding.js')}}" type="text/javascript"></script>

<script>
$(document).ready(function () {
//This js is for the form, modifying it's layout and adding expanging and counting
//start automatic expanding js in all textareas
$("textarea").expanding();

//count and print chars in text form
function text_counter(text_id, max) {
    //text_id = id of the text field in form; max = max number of caracters to count
    var counter_id = text_id + '_counter'

    $("#"+text_id+"__row").after('<div class="textarea-counter" style="text-align:right;font-size:12px;color:red;><span class="counter-text">Max. 3000 characters (<span id="' + counter_id + '"></span> left)</span></div>');

    $("#"+counter_id).text(max);


    function text_keypress(text_id, max) {
        var len = $("#"+text_id).val().length;

        if (event.which < 0x20) {
          // e.which < 0x20, then it's not a printable character
          // e.which === 0 - Not a character
          return; // Do nothing
        }

        if (len >= max) {
          event.preventDefault();
        }
    }

    function text_keyup(text_id, max) {
        var len = $("#"+text_id).val().length;
        var char = max - len;
        $("#"+counter_id).text(char);
    }

    //Call in the 1st run, when page opens to update
    text_keypress(text_id, max);
    text_keyup(text_id, max);

    //Call each keypress and keyup
    $("#"+text_id).keypress(function (event) {
        text_keypress(text_id, max);
    });

    $("#"+text_id).keyup(function (event) {
        text_keyup(text_id, max);
    });
}

//Call each text field that needs text size limit with: (id-tag, caracters-limit)
text_counter('auth_user_bionote', 3000);
});
</script>
{{end}}

{{extend 'sublayout.html'}}

<div class="content-with-side-bar">

<h2>{{if session.ling == 'en':}}Edit CV{{else:}}Editar CV{{pass}}</h2>

<div style="background:beige;padding:10px 15px;border:1px solid #333;border-radius:3px;margin-bottom:30px;">
<h3 style="padding:3px 10px;background:#000000;color:#ffffff;font-size:22px;">{{if session.ling == 'en':}}Personal information{{else:}}Informações pessoais{{pass}}:</h3>
</div>

<div style="text-align:right;"><a class="btn btn-secondary" href="{{=URL('cv','edit')}}">CV Hub</a> <a class="btn btn-secondary" href="/isn">Homepage</a></div>
<br>

{{=profile}}

</div><!-- /content-with-side-bar -->
