{{block head}}
<style type="text/css">
.main-group {font-weight: bold;}
.sciece-labels {
text-align:center;
}
.sciece-labels a {
margin-top:10px;
font-size:12px;
}
.box {
color:#333;
margin-top:15px;
}

.box li {
display:block;
background:#F7F7F7;
border:1px solid #ccc;
padding:10px 15px;
margin-bottom:20px;
}

.box li h3 {
font-size:1rem;
line-height:normal;
margin-bottom:10px;
display:inline-block;
background:#F7F7F7;
}

.box li p {
line-height:normal;

/*display:inline-block;*/
/*background:#F7F7F7;*/
}

.box li p:first-child {

}
</style>
{{end}}

{{extend 'sublayout.html'}}

{{from datetime import datetime}}

<div class="content-with-side-bar">

<h2>{{if session.ling == 'en':}}Curriculum Vitae{{else:}}Curriculum Vitae{{pass}}</h2>

{{if cv:}}
{{if profile["photo"]:}}<img src="{{=URL('default', 'download', args=profile["photo"])}}" style="float:right;">{{else:}}<img src="{{=URL('static', 'images/default-photo.jpg')}}" style="float:right;">{{pass}}

<h3 style="background:#DDDDDD;padding:0 5px;display:inline-block;">{{=name}}</h3>
<br><br>
{{if profile["studies_category"]:}}<p><strong>{{if session.ling == 'en':}}Academic degree{{else:}}Grau académico{{pass}}:</strong> {{=profile["studies_category"]}}</p>{{pass}}

{{if profile["professional_category"]:}}<p><strong>{{if session.ling == 'en':}}Professional category{{else:}}Categoria profissional{{pass}}:</strong> {{=profile["professional_category"]}}</p>{{pass}}

<p><strong>E-mail:</strong> <a href="mailto:{{=email}}">{{=email}}</a></p>

{{if profile["phone"]:}}<p><strong>{{if session.ling == 'en':}}Phone{{else:}}Telefone{{pass}}:</strong> {{=profile["phone"]}}</p>{{pass}}

{{if profile["homepage"]:}}<p style="display:inline-block;vertical-align:top;"><strong>Website(s):</strong></p>
<ul style="display:inline-block;margin-bottom: 0.8em;">
    {{for w in profile["homepage"]:}}<li><a href="{{if w[:4] != 'http':}}http{{pass}}{{=w}}" target="_blank">{{=w}}</a></li>{{pass}}
</ul>
{{pass}}

{{if profile["cvitae"]:}}<p><strong>CiênciaVitae:</strong> <a href="https://www.cienciavitae.pt/portal/en/{{=profile['cvitae']}}" target="_blank">{{=profile["cvitae"]}}</a></p>{{pass}}

{{if profile["orcid"]:}}<p><strong>ORCID:</strong> <a href="https://orcid.org/{{=profile['orcid']}}" target="_blank">{{=profile["orcid"]}}</a></p>{{pass}}

{{if profile["scopus"]:}}<p><strong>SCOPUS:</strong> <a href="https://www2.scopus.com/authid/detail.uri?authorId={{=profile['scopus']}}" target="_blank">{{=profile["scopus"]}}</a></p>{{pass}}

{{if profile["address"]:}}<p style="margin-bottom:0px;"><strong>{{if session.ling == 'en':}}Institutional address{{else:}}Morada institucional{{pass}}:</strong></p>
<p style="margin:0px;"><pre style="text-align:justify;">{{=profile["address"].strip()}}</pre></p>{{pass}}

{{if profile["bionote"]:}}<p style="margin-bottom:0px;"><strong>{{if session.ling == 'en':}}Short bionote{{else:}}Nota biográfica{{pass}}:</strong></p>
<p style="margin:0px;"><pre style="text-align:justify;">{{=profile["bionote"].strip()}}</pre></p>{{pass}}

{{if profile["interests"]:}}<p style="margin-bottom:0px;"><strong>{{if session.ling == 'en':}}Research interests{{else:}}Interesses de investigação{{pass}}:</strong></p>
<p style="margin-top:0px;">{{int_count=0}}{{for i in profile["interests"]:}}{{if int_count!=0:}}, {{pass}}{{=i}}{{int_count=+1}}{{pass}}.</p>
{{pass}}

{{if profile["education"]:}}<p style="margin-bottom:0px;"><strong>{{if session.ling == 'en':}}Education{{else:}}Formação{{pass}}:</strong></p>
{{for i in profile["education"]:}}<p style="margin:0px;">{{=i}}</p>{{pass}}
{{pass}}

{{if profile["profissional"]:}}<p style="margin-bottom:0px;margin-top:0.8em;"><strong>{{if session.ling == 'en':}}Professional experience{{else:}}Experiência profissional{{pass}}:</strong></p>
{{for i in profile["profissional"]:}}<p style="margin:0px;">{{=i}}</p>{{pass}}
{{pass}}

{{if profile["appointments"]:}}<p style="margin-bottom:0px;margin-top:0.8em;"><strong>{{if session.ling == 'en':}}Institutional positions{{else:}}Cargos{{pass}}:</strong></p>
{{for i in profile["appointments"]:}}<p style="margin:0px;">{{=i}}</p>{{pass}}
{{pass}}

<!--<p style="margin-bottom:0;"><strong>Gabinete:</strong></p>
<pre>{{=profile["address"]}}</pre>-->

<br>
<div id="page-cv-inner-nav">
<div class="sciece-labels"><a href="#cv-projects" class="btn btn-secondary">{{if session.ling == 'en':}}Projects{{else:}}Projetos{{pass}}</a> <a href="#cv-publications" class="btn btn-secondary">{{if session.ling == 'en':}}Publications{{else:}}Publicações{{pass}}</a> <a href="#cv-events" class="btn btn-secondary">{{if session.ling == 'en':}}Events{{else:}}Eventos{{pass}}</a> <a href="#cv-communications" class="btn btn-secondary">{{if session.ling == 'en':}}Communications{{else:}}Comunicações{{pass}}</a> <a href="#cv-networks" class="btn btn-secondary">{{if session.ling == 'en':}}Networks{{else:}}Redes{{pass}}</a> <a href="#cv-thesis" class="btn btn-secondary">{{if session.ling == 'en':}}Thesis{{else:}}Teses{{pass}}</a> <a href="#cv-editorials" class="btn btn-secondary">{{if session.ling == 'en':}}Editorials{{else:}}Editor{{pass}}</a> <a href="#cv-scientific_committee" class="btn btn-secondary">{{if session.ling == 'en':}}Scientific Commitees{{else:}}Comissões Científicas{{pass}}</a> <a href="#cv-others" class="btn btn-secondary">{{if session.ling == 'en':}}Others{{else:}}Outros{{pass}}</a></div>
</div>

<div class="scientific-production">
{{if projects:}}
<h2 id="cv-projects">{{if session.ling == 'en':}}Projects{{else:}}Projetos{{pass}}</h2>
<ul class="box">
{{for project in projects:}}
<li>
    <p><strong>{{try:}}{{=project["date_start"].year}}{{except:}}{{pass}}</strong> - <strong>{{if project["date_end"]:}}{{=project["date_end"].year}}{{else:}}...{{pass}} ({{=project["tipo"]}})</strong></p>
    <p><strong><em>{{=project["title"].strip()}}</em></strong></p>
    {{if project["project"]:}}<pre>{{=project["project"].strip()}}</pre>{{pass}}
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if publications:}}
<h2 id="cv-publications">{{if session.ling == 'en':}}Publications{{else:}}Publicações{{pass}}</h2>

{{books=[]}}
{{book_proceedings=[]}}
{{papers=[]}}
{{chapters=[]}}
{{proceedings=[]}}
{{others=[]}}
{{artistic=[]}}

{{for publication in publications:}}
    {{if publication["pub_type"] == "Livro":}}
        {{books.append(publication)}}
    {{elif publication["pub_type"] == "Livro de atas":}}
        {{book_proceedings.append(publication)}}
    {{elif publication["pub_type"] == "Artigo em revista":}}
        {{papers.append(publication)}}
    {{elif publication["pub_type"] == "Capítulo de livro":}}
        {{chapters.append(publication)}}
    {{elif publication["pub_type"] == "Artigo em livro de atas":}}
        {{proceedings.append(publication)}}
    {{elif publication["pub_type"] == "Outro":}}
        {{others.append(publication)}}
        {{elif publication["pub_type"] == "Trabalho de natureza artística":}}
            {{artistic.append(publication)}}
    {{pass}}
{{pass}}

    {{if books:}}
    <h3>{{if session.ling == 'en':}}Books{{else:}}Livros{{pass}}</h3>
    <ul class="box">
    {{for publication in books:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if book_proceedings:}}
    <h3>{{if session.ling == 'en':}}Proceedings books{{else:}}Livros de atas{{pass}}</h3>
    <ul class="box">
    {{for publication in book_proceedings:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><b>RepositóriUM:</b> <a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if papers:}}
    <h3>{{if session.ling == 'en':}}Articles{{else:}}Artigos{{pass}}</h3>
    <ul class="box">
    {{for publication in papers:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><b>RepositóriUM:</b> <a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if chapters:}}
    <h3>{{if session.ling == 'en':}}Book chapters{{else:}}Capítulos em livros{{pass}}</h3>
    <ul class="box">
    {{for publication in chapters:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><b>RepositóriUM:</b> <a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if proceedings:}}
    <h3>{{if session.ling == 'en':}}Proceedings papers{{else:}}Artigos em livros de atas{{pass}}</h3>
    <ul class="box">
    {{for publication in proceedings:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><b>RepositóriUM:</b> <a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if artistic:}}
    <h3>{{if session.ling == 'en':}}Artistic works{{else:}}Trabalhos de natureza artística{{pass}}</h3>
    <ul class="box">
    {{for publication in artistic:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><b>RepositóriUM:</b> <a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if others:}}
    <h3>{{if session.ling == 'en':}}Other publications{{else:}}Outras publicações{{pass}}</h3>
    <ul class="box">
    {{for publication in others:}}
    <li id="publications{{=publication['id']}}">
        <!--<p><strong>{{=str(publication["date_pub"]).replace("-","/")}}</strong></p>-->
        <pre>{{=publication["cite"].strip()}}</pre>
        {{if publication["index_scopus"] or publication["index_webs"] or publication["index_scielo"]:}}<p><b>{{if session.ling == 'en':}}Indexed on:{{else:}}Indexado em:{{pass}}</b> {{if publication["index_scopus"]:}}<a href="{{=publication["index_scopus"]}}" class="background" target="_blank">SCOPUS</a>{{pass}}{{if publication["index_webs"]:}} <a href="{{=publication["index_webs"]}}" class="background" target="_blank">Web of Science</a>{{pass}}{{if publication["index_scielo"]:}} <a href="{{=publication["index_scielo"]}}" class="background" target="_blank">SCIELO</a>{{pass}}</p>{{pass}}
        {{if publication["repositorium"]:}}<p><b>RepositóriUM:</b> <a href="{{=publication["repositorium"]}}" class="background" target="_blank">{{=publication["repositorium"]}}</a></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if organization_of_events:}}
<h2 id="cv-events">Organização de eventos</h2>
<ul class="box">
{{for event in organization_of_events:}}
<li>
    <p><strong>{{=str(event["date_start"]).replace("-","/")}}{{if event["date_start"] != event["date_end"]:}} - {{=str(event["date_end"]).replace("-","/")}}{{pass}} | {{=event["event_place"]}}</strong></p>
    <p>{{=event["event_title"]}}</p>
    {{if event["event_website"]:}}<p><a href="{{=event["event_website"]}}" target="_blank" class="background">{{=event["event_website"]}}</a></p>{{pass}}
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if scientific_meetings:}}
<h2 id="cv-communications">Participação em eventos</h2>
<ul class="box">
{{for event in scientific_meetings:}}
<li id="meetings{{=event['id']}}">
    <p><strong>{{=event["event_type"]}}</strong>{{if event["invite"] == "Sim":}} ({{=T("Por convite")}}){{pass}}</p>
    <p>{{=event["event_info"]}}</p>
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if networks:}}
<h2 id="cv-networks">Redes</h2>
<ul class="box">
{{for network in networks:}}
<li>
    <p><strong>{{=network["date_start"].year}} - {{=network["network"]}}</strong></p>
    {{if network["network_info"]:}}<pre>{{=network["network_info"].strip()}}</pre>{{pass}}
    {{if network["network_website"]:}}<p><a href="{{=network["network_website"]}}" class="background" target="_blank">{{=network["network_website"]}}</a></p>{{pass}}
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if thesis:}}
<h2 id="cv-thesis">Orientação de teses</h2>

{{master=[]}}
{{phd=[]}}
{{postdoc=[]}}

{{for t in thesis:}}
    {{if t["thesis_type"] == "Dissertação de Mestrado":}}
        {{master.append(t)}}
    {{elif t["thesis_type"] == "Tese de Doutoramento":}}
        {{phd.append(t)}}
    {{elif t["thesis_type"] == "Projeto de Pós-Doutoramento":}}
        {{postdoc.append(t)}}
    {{pass}}
{{pass}}

    {{if postdoc:}}
    <h3>{{if session.ling == 'en':}}Post-doctoral{{else:}}Pós-Doutoramentos{{pass}}</h3>
    <ul class="box">
    {{for t in postdoc:}}
    <li>
        <p><strong>{{=t["date_start"].year}} - {{if t["date_end"]:}} {{=t["date_end"].year}}{{else:}}(...){{pass}} | {{=t["advisor_type"]}}</strong></p>
        <p>{{=t["thesis_student"]}}</p>
        <p><em>{{=t["thesis_title"]}}</em></p>
        {{if t["thesis_course"]:}}<p><strong>{{=t["thesis_course"]}}</strong></p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if phd:}}
    <h3>{{if session.ling == 'en':}}PhD{{else:}}Doutoramentos{{pass}}</h3>
    <ul class="box">
    {{for t in phd:}}
    <li>
        <p><strong>{{=t["date_start"].year}} - {{if t["date_end"]:}} {{=t["date_end"].year}}{{else:}}(...){{pass}} | {{=t["advisor_type"]}}</strong></p>
        <p>{{=t["thesis_student"]}}</p>
        <p><em>{{=t["thesis_title"]}}</em></p>
        {{if t["thesis_course"]:}}<p>{{=t["thesis_course"]}}</p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}

    {{if master:}}
    <h3>{{if session.ling == 'en':}}Master{{else:}}Mestrados{{pass}}</h3>
    <ul class="box">
    {{for t in master:}}
    <li>
        <p><strong>{{=t["date_start"].year}} - {{if t["date_end"]:}} {{=t["date_end"].year}}{{else:}}(...){{pass}} | {{=t["advisor_type"]}}</strong></p>
        <p>{{=t["thesis_student"]}}</p>
        <p><em>{{=t["thesis_title"]}}</em></p>
        {{if t["thesis_course"]:}}<p>{{=t["thesis_course"]}}</p>{{pass}}
    </li>
    {{pass}}
    </ul>
    {{pass}}
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if editorial_boards:}}
<h2 id="cv-editorials">{{if session.ling == 'en':}}Editorial boards{{else:}}Editor{{pass}}</h2>
<ul class="box">
{{for editorial in editorial_boards:}}
<li>
    <p><strong>{{=editorial["date_start"].year}} - {{if editorial["date_end"]:}}{{=editorial["date_end"].year}}/{{=editorial["date_end"].month}}{{else:}}(...){{pass}}</strong></p>
    <p>{{=editorial["journal_name"]}}</p>
    {{if editorial["journal_url"]:}}<p><a href="{{=editorial['journal_url']}}" class="background" target="_blank">{{=editorial['journal_url']}}</a></p>{{pass}}
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if scientific_committee:}}
<h2 id="cv-scientific_committee">{{if session.ling == 'en':}}Scientific commitee{{else:}}Comissões científicas{{pass}}</h2>
<ul class="box">
{{for editorial in scientific_committee:}}
<li>
    <p><strong>{{=editorial["date_start"].year}} - {{if editorial["date_end"]:}}{{=editorial["date_end"].year}}{{else:}}...{{pass}} ({{=editorial["tipo"]}})</strong></p>
    <p>{{=T(editorial["journal_name"])}}</p>
    {{if editorial["journal_url"]:}}<p><a href="{{=editorial['journal_url']}}" class="background" target="_blank">{{=editorial['journal_url']}}</a></p>{{pass}}
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}


{{if other_info:}}
<h2 id="cv-others">{{if session.ling == 'en':}}Other information{{else:}}Outros dados{{pass}}</h2>
<ul class="box">
{{for other in other_info:}}
<li>
    <p><pre>{{=other["info_entry"].strip()}}</pre></p>
</li>
{{pass}}
</ul>
<div style="text-align:right;"><a href="#page-cv-inner-nav" class="no-background" title="Go top"><img src="{{=URL('static','images/top.png')}}" class="hover-effect" style="width:30px;height:30px;"></a></div>
{{pass}}
</div>

{{pass}}

<script>
// Check the main container is ready
$('.scientific-production').ready(function(){
    // Get each div
    $('.scientific-production li pre').each(function(){
        // Get the content
        var str = $(this).html();
        // Set the regex string
        //var regex = /(https?:\/\/([-\w\.]+)+(:\d+)?(\/([\w\/_\.]*(\?\S+)?)?)?)/ig;
        var regex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#()\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
        // Replace plain text links by hyperlinks
        var replaced_text = str.replace(regex, "<a href='$1' class='background' target='_blank'>$1</a>");
        // Echo link
        $(this).html(replaced_text);
    });
});
</script>


<script>
$(document).ready(function() {
var menu = $('#page-cv-inner-nav');
var menu_top = menu.offset().top;
var on_off = false;

$(window).scroll(function () {
    //menu fixed
    if ($(this).scrollTop() > menu_top) {
        if (on_off != true) {
        //menu.addClass('fixed-cv-menu');
        //$(".scientific-production").css("padding-top", "50px");

        //menu.clone().addClass('fixed-cv-menu').appendTo(".scientific-production");
        on_off = true;
        }
    } else {
        if (on_off != false) {
        //menu.removeClass('fixed-cv-menu');

        //$( ".fixed-cv-menu" ).remove();
        on_off = false;
        }
    }
});
});
</script>

</div><!-- /content-with-side-bar -->
